* {
	margin: 0;
	padding: 0;
}

html {
  scroll-behavior: smooth;
}


@media only screen   
and (min-device-width : 1729px)   {

body {
	font-family: 'Josefin Sans';
	font-weight: bold;
	color: #4F5D75;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	line-height: 30px;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #EF8354; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2D3142; 
}

a,
a:visited,
a:focus {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #EF8354;
}

#container {
	width: 100vw;
	height: 100vh;
}

h3 {
	font-family: 'Josefin Sans';
	color: #BFC0C0;
	font-size: 15px;
	letter-spacing: 5px;
}

h1 {
	font-family: 'Roboto';
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 3px;
	padding: 0 0 5% 0;
}

nav {
	z-index: 100;
	display: flex;
	justify-content: space-around;
	border-top: 10px solid #EF8354;
}

nav ul {
	display: flex;
	list-style-type: none;
}

nav ul li {
	padding: 40px 20px 20px 20px;

}

.active {
	color: white !important;
	background: #EF8354;

}
.active a:hover {
	color: white;
}

nav ul li::after{
	content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #EF8354;
    transition: width .3s;
}
nav ul li:hover::after {
	width: 100%;
}

nav ul:nth-child(1) li::after {
	display: none;
}

#logo {
	color: #EF8354;
	letter-spacing: 3px;
	font-weight: bold;
}

#home {
    width: 100vw;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 0 0 0;
}

#intro {
	width: 40%;
}

#intro h1 {
	font-size: 60px;
	color: #2D3142;
	padding: 1% 0 5% 0;
	letter-spacing: 5px;
}

#intro p {
	line-height: 30px;
	padding: 0 0 5% 0;
}

#intro a {
	color: black;
}
#intro a:hover {
	color: #EF8354;
}

.illustrations {
	width: 20%;
    align-self: flex-start;
}

/* ////////////////////// About me ////////////////
///////////
/////////
//////
//////////
////////
////
*/

#aboutme {
	justify-content: center;
    align-items: center;
    display: flex;
 	padding: 10% 0 0 0;

}

#informatie {
	width: 60%;
}

#informatie > p {
	line-height: 50px;
}

#karakters {
    flex-direction: row;
    width: 100%;
}


.tbl {
	padding: 5% 0 0 0;
	width: 100%;
  	display: flex;
  	flex-direction: column;
}
.row {
  	display: flex;
  	min-height: 50px;
}
.cell {
	flex: 4;

}
.cellTitle {
	font-weight: bold;
	color: #EF8354;
}
.cell:nth-child(1) {
  flex: 2;
}
.cell:nth-child(2) {
  flex: 3;
}
.cell.span4-5 {
  flex: 8 24px;                    /*  col 4,5 flex-grow/border/padding  */
}
.cell.span3-4 {
  flex: 8 24px;                    /*  col 3,4 flex-grow/border/padding  */
}
.cell.span3-5 {
  flex: 12 36px;                   /*  col 3,4,5 flex-grow/border/padding  */
}
.row:first-child .cell {
  display: flex;
  align-items: center;             /*  center vert. */
}
.row .cell {
  padding: 5px;
  box-sizing: border-box;
}

.antwoorden {
	color: #BFC0C0;
}



/* ////////////////////// Portfolio ////////////////
///////////
/////////
//////
//////////
////////
////
*/


#portfolio {
	display: flex;
	justify-content: center;
    align-items: center;
    display: flex;
    padding: 10% 0 0 0;
}

#projects {
	width: 60%;
}

#projects h3 {
	padding: 0 0 3% 0;
}

#logos h3 {
	padding: 10% 0 3% 0;
}

/***** 
*********
******
******
******

OPMAKEN VAN PROJECT STUDIES OVERLAY 

**********
******
****
****/

#studies {
	display: flex;
	flex-direction: row;
}

#studies > article {
	padding: 0 5% 0 0;
}

#studies > article > figure > img {
	width: 100%;
	vertical-align: top;
}

#studies figure {
	display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
#studies figure:hover .overlay {
	opacity: 1;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgba(45,49,66,0.7);
}

.imageContainer:hover .overlay {
  opacity: 1;
}
.imageContainer:hover .image {
	filter: blur(2px);
	-webkit-filter: blur(2px);
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#studies figure img {
	width: 100%;
    height: 100%;
}


/****************/

#project {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
}

#project img {
	padding: 10% 0 10% 0;
	width: 100%;
}

#projectTitel {
	flex: 1 0 100%;
}

.info {
	flex: 1;
}

.info > ul {
	padding: 0 0 10% 0;
	list-style-type: none;
}

.info.paragraaf {
	flex: 2;
}
.info.paragraaf > p {
	padding: 0 0 5% 0;
}

.lightbox-logos,
.lightbox-illustrations {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.lightbox-logos li,
.lightbox-illustrations li {
	flex: 1;
	list-style-type: none;
}

.lightbox-logos > li > a > img {
	width: 100%;
	height: 96px;
}
.lightbox-illustrations > li > a > img {
	width: 100%;
	height: 216px;
}


/*********
*****
*****
*****

CONTACT 

****
****
****
*****
**/

#contact {
	justify-content: center;
    align-items: center;
    display: flex;
    padding: 10% 0 0 0;
}

#formulier {
	width: 60%;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
	  position: relative;
}

form input:focus, 
form textarea:focus {
	outline: 0px transparent !important;
}

form input,
form textarea {
	font-family: 'Josefin Sans';
	width: 30%;
	max-width: 100%;
	padding: 1%;
	margin: 0 0 2% 0;
	border: 1px solid #BFC0C0;
	border-radius: 5px;
}

form input[type=submit] {
	margin: 2% 0 10% 0;
	width: 15%;
	border: 1px solid #EF8354 !important;
	background: white;
	color: #EF8354;
}

form input[type=submit]:hover {
	cursor: pointer;
}

form input:valid,
form textarea:valid {
	border: 1px solid #5BBA97;
}



/****** footer *******/

footer {
	width: 100%;
	min-height: 2%;
	background: #EF8354;
	margin: 2% 0 0 0;
}

}

/*********************************
/*********************************
/*********************************
/*********************************
/*********************************
**

MEDIA QUERIES 

***************
\*************
***********/


/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen   
  and (min-device-width : 320px)   
  and (max-device-width : 480px) {
  body {
    font-size: 0.8em;
    font-family: 'Josefin Sans';
    font-weight: bold;
    color: #4F5D75;
    width: 100vw;
  }

  a,
  a:visited,
  a:focus {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: #EF8354;
  }

  #container {
    width: 100vw;
  }

  h3 {
    font-family: 'Josefin Sans';
    color: #BFC0C0;
    font-size: 15px;
    letter-spacing: 5px;
  }

  h1 {
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 0 0 10% 0;
  }

  p {
    font-size: 15px;
    line-height: 25px;
    padding: 0 0 2% 0;
  }

  nav {
    display: flex;
    justify-content: normal;
  }

  nav > ul:nth-child(1) {
    display: none;
  }  

  #navLinks {
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: center;
  }

  #navLinks li {
    padding: 20px 15px 15px 15px;
  }

  .active {
    color: #EF8354;
  }


  /************ home ***********/

  #home {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  #intro {
    width: 80%;
    padding: 30% 0 0 0;
  }
  #intro p {
    padding: 0 0 20% 0;
  }
  #intro a {
    font-size: 15px;
    color: black;
  }

  #down {
    display: block;
    text-align: center;
    padding: 40% 0 40% 0;
  }

  /* Foto in home uitzetten */
  .illustrations {
    display: none;
  }



  #portfolio {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #projects {
    width: 80%;
  }

  #studies {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #studies article {
    flex: 1 0 100%;
    padding: 0 0 10% 0;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    background-color:rgba(45,49,66,0.7);
  }
  .imageContainer {
    display: block;
      position: relative;
      width: 100%;
      height: 100%;
  }
  .imageContainer .overlay {
    opacity: 1;
  }
  .imageContainer .image {
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }

  .text {
    color: white;
    font-size: 10px !important;
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #aboutme,
  #contact,
  footer {
    display: none;
  }
}


/* --------- ALL IPADS ---------------- */

@media only screen   
and (min-device-width : 481px)   
and (max-device-width : 1024px) {

}


/* --------- LAPTOPS ---------------- */

@media only screen   
and (min-device-width : 1025px)
and (max-device-width : 1728px) {