#navbar {
    display: flex;
    background: #f4f4f4;
    height: 100px;
    align-items: center;
    flex-direction: column;
}

nav {
    display: flex;
    background: #f4f4f4;
    width: 30%;
    flex: 1;
}

#nav-links {
	display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

#nav-links > li > a {
	color: #2d425e;
}
#nav-links > li > a:hover {
	text-decoration: none;
	color: #ffba00;
}

#logo {
	display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
	color: #ffe299;
}

ul {
	flex: 1;
}



